---
helm:
  repo: https://charts.jetstack.io
  chart: cert-manager
  version: v1.12.3

values:
  installCRDs: true
  webhook:
    enabled: true
  extraArgs:
    - --dns01-recursive-nameservers=1.1.1.1:53
    - --dns01-recursive-nameservers-only
  cainjector:
    replicaCount: 1
  podDnsPolicy: None
  podDnsConfig:
    nameservers:
      - 1.1.1.1
      - 8.8.8.8
  prometheus:
    enabled: true
    servicemonitor:
      enabled: true
      prometheusInstance: monitoring

resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: cloudflare-token-secret
    stringData:
      cloudflare-token: "${SECRET_CLOUDFLARE_TOKEN}"

  - apiVersion: cert-manager.io/v1
    kind: ClusterIssuer
    metadata:
      name: letsencrypt-staging
    spec:
      acme:
        server: https://acme-staging-v02.api.letsencrypt.org/directory
        email: ${SECRET_EMAIL}
        privateKeySecretRef:
          name: letsencrypt-staging
        solvers:
          - dns01:
              cloudflare:
                email: ${SECRET_EMAIL}
                apiKeySecretRef:
                  name: cloudflare-token-secret
                  key: cloudflare-token

  - apiVersion: cert-manager.io/v1
    kind: ClusterIssuer
    metadata:
      name: letsencrypt-production
    spec:
      acme:
        server: https://acme-v02.api.letsencrypt.org/directory
        email: ${SECRET_EMAIL}
        privateKeySecretRef:
          name: letsencrypt-production
        solvers:
          - dns01:
              cloudflare:
                email: ${SECRET_EMAIL}
                apiKeySecretRef:
                  name: cloudflare-token-secret
                  key: cloudflare-token
