.vscode/
.DS_Store
Thumbs.db
bin/
logs/

# kubeconfig
kubeconfig
.kubeconfig.yaml

# talosconfig
talosconfig
.talosconfig.yaml

# talos init
/controlplane.yaml
/worker.yaml

# age
flux.agekey

# sops vscode
.decrypted~*
