apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: manifests
  namespace: flux-system
spec:
  interval: 30m
  url: oci://ghcr.io/charlie-haley/home-infra/manifests
  ref:
    tag: 4309cbb-1702597100 # {"$imagepolicy": "flux-system:home-infra-manifests:tag"}
