apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: manifests
  namespace: flux-system
spec:
  interval: 30m
  url: oci://ghcr.io/charlie-haley/home-infra/manifests
  ref:
    tag: "cc9fa36-1723565752" # {"$imagepolicy": "flux-system:home-infra-manifests:tag"}
