---
helm:
  repo: https://grafana.github.io/helm-charts
  chart: grafana
  version: 7.0.19

dependsOn:
  - name: observability-grafana-agent-cluster

backup:
  pvc: "grafana"

values:
  replicas: 1
  deploymentStrategy:
    type: Recreate
  env:
    GF_EXPLORE_ENABLED: true
    GF_PANELS_DISABLE_SANITIZE_HTML: true
    GF_LOG_FILTERS: rendering:debug
    GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
    GF_DATE_FORMATS_FULL_DATE: MMM Do, YYYY hh:mm:ss a
    GF_DATE_FORMATS_INTERVAL_SECOND: hh:mm:ss a
    GF_DATE_FORMATS_INTERVAL_MINUTE: hh:mm a
    GF_DATE_FORMATS_INTERVAL_HOUR: DD/MM hh:mm a
    GF_DATE_FORMATS_INTERVAL_DAY: DD/MM
    GF_DATE_FORMATS_INTERVAL_MONTH: MM-YYYY
    GF_DATE_FORMATS_INTERVAL_YEAR: YYYY
    VAR_BLOCKY_URL: https://blocky.${SECRET_DOMAIN}
  adminPassword: ${SECRET_GRAFANA_PASSWORD}
  grafana.ini:
    server:
      root_url: https://grafana.${SECRET_DOMAIN}
    paths:
      data: /var/lib/grafana/data
      logs: /var/log/grafana
      plugins: /var/lib/grafana/plugins
      provisioning: /etc/grafana/provisioning
    analytics:
      check_for_updates: false
    log:
      mode: console
    grafana_net:
      url: https://grafana.net
    auth.basic:
      disable_login_form: false
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: default
          orgId: 1
          folder: Default
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
        - name: ceph
          orgId: 1
          folder: Ceph
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/ceph
        - name: flux
          orgId: 1
          folder: Flux
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/flux
        - name: kubernetes
          orgId: 1
          folder: Kubernetes
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/kubernetes
  dashboards:
    default:
      cloudflared:
        # renovate: depName="Cloudflare Tunnels (cloudflared)"
        gnetId: 17457
        revision: 6
      external-dns:
        # renovate: depName="External-dns"
        gnetId: 15038
        revision: 3
        datasource: Prometheus
      node-exporter-full:
        # renovate: depName="Node Exporter Full"
        gnetId: 1860
        revision: 33
        datasource: Prometheus
      zfs:
        # renovate: depName="ZFS"
        gnetId: 7845
        revision: 4
        datasource: Prometheus
    ceph:
      ceph-cluster:
        # renovate: depName="Ceph Cluster"
        gnetId: 2842
        revision: 17
        datasource: Prometheus
      ceph-osd:
        # renovate: depName="Ceph - OSD (Single)"
        gnetId: 5336
        revision: 9
        datasource: Prometheus
      ceph-pools:
        # renovate: depName="Ceph - Pools"
        gnetId: 5342
        revision: 9
        datasource: Prometheus
    flux:
      flux-cluster:
        url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/monitoring-config/dashboards/cluster.json
        datasource: Prometheus
      flux-control-plane:
        url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/monitoring-config/dashboards/control-plane.json
        datasource: Prometheus
      flux-logs:
        url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/monitoring-config/dashboards/logs.json
        datasource: Prometheus
    kubernetes:
      kubernetes-api-server:
        url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-global.json
        datasource: Prometheus
      kubernetes-coredns:
        # renovate: depName="Kubernetes / System / CoreDNS"
        gnetId: 15762
        revision: 13
        datasource: Prometheus
      kubernetes-global:
        # renovate: depName="Kubernetes / Views / Global"
        gnetId: 15757
        revision: 32
        datasource: Prometheus
      kubernetes-namespaces:
        # renovate: depName="Kubernetes / Views / Namespaces"
        gnetId: 15758
        revision: 28
        datasource: Prometheus
      kubernetes-nodes:
        # renovate: depName="Kubernetes / Views / Nodes"
        gnetId: 15759
        revision: 22
        datasource: Prometheus
      kubernetes-pods:
        # renovate: depName="Kubernetes / Views / Pods"
        gNetId: 15760
        revision: 24
        datasource: Prometheus
      kubernetes-volumes:
        # renovate: depName="K8s / Storage / Volumes / Cluster"
        gnetId: 11454
        revision: 14
        datasource: Prometheus
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          uid: prometheus
          url: https://mimir.${SECRET_DOMAIN}/prometheus
          access: proxy
          isDefault: true
          jsonData:
            prometheusType: Mimir
        - name: Loki
          type: loki
          uid: loki
          access: proxy
          url: https://loki.${SECRET_DOMAIN}
        - name: Alertmanager
          type: alertmanager
          uid: alertmanager
          url: https://mimir.${SECRET_DOMAIN}
          jsonData:
            implementation: mimir
  sidecar:
    dashboards:
      enabled: true
      defaultFolderName: "General"
      searchNamespace: ALL
      folderAnnotation: grafana_folder
      provider:
        foldersFromFilesStructure: true
    datasources:
      enabled: true
      searchNamespace: ALL
  plugins:
    - natel-discrete-panel
    - pr0ps-trackmap-panel
    - grafana-piechart-panel
    - vonage-status-panel
    - grafana-worldmap-panel
    - grafana-clock-panel
  serviceMonitor:
    enabled: true
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt-production
    hosts:
      - grafana.${SECRET_DOMAIN}
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.${SECRET_DOMAIN}
  persistence:
    enabled: true
    storageClassName: ceph-block
    size: 10Gi
    accessModes:
      - ReadWriteOnce
