---
helm:
  repo: https://kubernetes-sigs.github.io/metrics-server/
  chart: metrics-server
  version: 3.12.0

dependsOn:
  - name: observability-grafana-agent-cluster

values:
  serviceMonitor:
    enabled: true
