---
helm:
  repo: https://bjw-s.github.io/helm-charts
  chart: app-template
  version: 2.4.0

values:
  controllers:
    main:
      type: deployment
      containers:
        main:
          image:
            repository: balabit/syslog-ng
            tag: 4.6.0
          args:
            - --no-caps
            - -f
            - /config/config.yml
          probes:
            liveness:
              type: UDP
            readiness:
              type: UDP
            startup:
              type: UDP
  service:
    main:
      type: LoadBalancer
      annotations:
        "io.cilium/lb-ipam-ips": "192.168.2.15"
      ports:
        http:
          port: 514
  persistence:
    config:
      enabled: true
      type: configMap
      name: syslog-ng-config
  configMaps:
    config:
      enabled: true
      data:
        config.yml: |
          @version: 4.5
          @include "scl.conf"

          source s_network_udp {
            network(
              port(514)
              transport("udp")
              flags(no-parse)
            );
          };

          source s_network_tcp {
            network(
              port(514)
              transport("tcp")
              flags(no-parse)
            );
          };

          destination d_loki {
            syslog("grafana-agent-node.observability.svc.cluster.local" transport("udp") port("51414"));
          };

          log {
            source(s_network_udp);
            source(s_network_tcp);
            destination(d_loki);
          };
