---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: loki
      version: 2.15.2
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    loki:
      config:
        table_manager:
          retention_deletes_enabled: true
          retention_period: 336h
      persistence:
        enabled: true
        storageClassName: ceph-block
        size: 25Gi
      serviceMonitor:
        enabled: true
