---
helm:
  repo: https://bjw-s.github.io/helm-charts
  chart: app-template
  version: 1.5.1

backup:
  pvc: "jellyfin-config"

values:
  automountServiceAccountToken: false
  controller:
    type: statefulset
  image:
    repository: ghcr.io/jellyfin/jellyfin
    tag: 10.9.2
  env:
    TZ: Europe/London
    DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
    JELLYFIN_FFmpeg__probesize: 50000000
    JELLYFIN_FFmpeg__analyzeduration: 500000000
  service:
    main:
      type: LoadBalancer
      externalTrafficPolicy: Local
      ports:
        http:
          port: 8096
  ingress:
    main:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        cert-manager.io/cluster-issuer: letsencrypt-production
      hosts:
        - host: jellyfin.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: jellyfin-tls
          hosts:
            - jellyfin.${SECRET_DOMAIN}
  podSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    supplementalGroups:
      - 44
      - 109
      - 100
  persistence:
    config:
      enabled: true
      mountPath: /config
      size: 15Gi
    media:
      enabled: true
      type: nfs
      server: narya.${SECRET_INTERNAL_DOMAIN}
      path: /mnt/data/media
      mountPath: /data
    transcode:
      enabled: true
      type: emptyDir
      mountPath: /transcode
  resources:
    requests:
      gpu.intel.com/i915: 1
      cpu: 1000m
      memory: 3000Mi
    limits:
      gpu.intel.com/i915: 1
      memory: 10000Mi
