---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPPeeringPolicy
metadata:
  name: bgp-loadbalancer-ip-main
  namespace: cilium
spec:
  nodeSelector:
    matchLabels:
      kubernetes.io/os: "linux"
  virtualRouters:
    - localASN: 64512
      exportPodCIDR: false
      serviceSelector:
        matchExpressions:
          - { key: somekey, operator: NotIn, values: ["announce-all-services"] }
      neighbors:
        - peerAddress: "${NETWORK_BGP_PEER}/32"
          peerASN: 64512
