---
helm:
  repo: https://charts.rook.io/release
  chart: rook-ceph
  version: v1.13.2

dependsOn:
  - name: observability-grafana-agent-cluster

values:
  crds:
    enabled: true
  monitoring:
    enabled: true
  resources:
    requests:
      cpu: 800m
      memory: 128Mi
    limits:
      cpu: 1200m
      memory: 256Mi
