---
helm:
  repo: https://bjw-s.github.io/helm-charts
  chart: app-template
  version: 1.5.1

backup:
  pvc: "home-assistant-config"

values:
  controller:
    type: statefulset
  image:
    repository: ghcr.io/home-assistant/home-assistant
    tag: 2024.4.2
  service:
    main:
      ports:
        http:
          port: 8123
  ingress:
    main:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        cert-manager.io/cluster-issuer: letsencrypt-production
      hosts:
        - host: hass.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: hass-tls
          hosts:
            - hass.${SECRET_DOMAIN}
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  persistence:
    config:
      enabled: true
      mountPath: /config
      size: 10Gi
  addons:
    codeserver:
      enabled: true
      image:
        repository: codercom/code-server
        tag: 4.23.0
      workingDir: "/config"
      args:
        - --auth
        - "none"
        - --user-data-dir
        - "/config/.vscode"
        - --extensions-dir
        - "/config/.vscode"
      ingress:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
        hosts:
          - host: "hass-config.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - "hass-config.${SECRET_DOMAIN}"
      volumeMounts:
        - name: config
          mountPath: /config
