---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: metallb
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.bitnami.com/bitnami
      chart: metallb
      version: 3.0.12
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
  values:
    controller:
      image:
        repository: metallb/controller
        tag: v0.12.1
    speaker:
      image:
        repository: metallb/speaker
        tag: v0.12.1
    configInline:
      address-pools:
        - name: default
          protocol: layer2
          addresses:
            - 192.168.1.246/32
            - 192.168.1.243/32
